body {
    font-family: 'Raleway', sans-serif;
    text-align: center;

    /* This rule targets the container div that wraps the image */
.image-container {
    max-width: 100%; /* Set the maximum width to the desired value */
    height: auto; /* Ensures the image maintains its aspect ratio */
    overflow: hidden; /* Hides any content that overflows the container */
}

/* This rule targets the image inside the container */
.image-container img {
    width: 10%; /* Ensures the image spans the full width of the container */
    height: auto;
}

}